@using APP.Models
@model UserResponse

@{
    var containerDivClass = "container";
}
@{
    ViewData["Title"] = "User Details";
}

<div class="@containerDivClass">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

@if (Model is not null)
{
<div class="@containerDivClass">
    @if (TempData["Message"] is not null)
    {
    <p class="text-danger">
        @TempData["Message"]
    </p>
    }
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.UserName)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.Password)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Password)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.FullName)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.FullName)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.BirthDateF)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.BirthDateF)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.RegistrationDateF)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.RegistrationDateF)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.Score.ToString("N1"))
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Score.ToString("N1"))
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.IsActiveF)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.IsActiveF)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @Html.DisplayNameFor(model => model.Address)
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>
    
    <hr /> 
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>
}